name: Update README

on:
  schedule:
    # Runs at 12am UTC every day
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Fetch GitHub Events
        run: |
          curl -H "Authorization: token ${{ secrets.GH_TOKEN }}" https://api.github.com/users/thegr8dev/events > events.json
          echo "### Recent GitHub Activity 沁" > recent-activity.md
          cat events.json | jq -r '
            map(
              if .repo.name != "thegr8dev/thegr8dev" then
                if .type == "PushEvent" then
                  "#### Pushed Changes 沒､\n**Repository:** [\(.repo.name)](https://github.com/\(.repo.name))  \n**Commit:** [View Commit](https://github.com/\(.repo.name)/commit/\(.payload.commits[-1].sha))  \n**Message:** \"\(.payload.commits[-1].message)\"  \n**Date:** \(.created_at | fromdate | strftime("%d/%m/%Y %I:%M %p"))  \n**Author:** [\(.actor.display_login)](https://github.com/\(.actor.login)) 笨搾ｸ十n"
                elif .type == "PullRequestEvent" then
                  "#### Created Pull Request 沐Ыn**Repository:** [\(.repo.name)](https://github.com/\(.repo.name))  \n**Pull Request:** [View Pull Request](https://github.com/\(.repo.name)/pull/\(.payload.pull_request.number))  \n**Title:** \"\(.payload.pull_request.title)\"  \n**Date:** \(.created_at | fromdate | strftime("%d/%m/%Y %I:%M %p"))  \n**Author:** [\(.actor.display_login)](https://github.com/\(.actor.login)) 笨搾ｸ十n"
                elif .type == "IssueCommentEvent" then
                  "#### Commented on issue 汳ｬ\n**Repository:** [\(.repo.name)](https://github.com/\(.repo.name))  \n**Issue:** [View Issue](https://github.com/\(.repo.name)/issues/\(.payload.issue.number))  \n**Comment:** \"\(.payload.comment.body)\"  \n**Date:** \(.created_at | fromdate | strftime("%d/%m/%Y %I:%M %p"))  \n**Author:** [\(.actor.display_login)](https://github.com/\(.actor.login)) 笨搾ｸ十n"
                elif .type == "ForkEvent" then
                  "#### Forked Repository 沚ｴ\n**Repository:** [\(.repo.name)](https://github.com/\(.repo.name))  \n**Message:** \"Forked repository\"  \n**Date:** \(.created_at | fromdate | strftime("%d/%m/%Y %I:%M %p"))  \n**Author:** [\(.actor.display_login)](https://github.com/\(.actor.login)) 笨搾ｸ十n"
                elif .type == "CreateEvent" then
                  "#### Created Repository 笨ｨ\n**Repository:** [\(.repo.name)](https://github.com/\(.repo.name))  \n**Message:** \"Created repository\"  \n**Date:** \(.created_at | fromdate | strftime("%d/%m/%Y %I:%M %p"))  \n**Author:** [\(.actor.display_login)](https://github.com/\(.actor.login)) 笨搾ｸ十n"
                elif .type == "IssuesEvent" then
                  if .payload.action == "opened" then
                    "#### Issue Opened 沒拿n**Repository:** [\(.repo.name)](https://github.com/\(.repo.name))  \n**Issue:** [View Issue](https://github.com/\(.repo.name)/issues/\(.payload.issue.number))  \n**Title:** \"\(.payload.issue.title)\"  \n**Date:** \(.created_at | fromdate | strftime("%d/%m/%Y %I:%M %p"))  \n**Author:** [\(.actor.display_login)](https://github.com/\(.actor.login)) 笨搾ｸ十n"
                  elif .payload.action == "closed" then
                    "#### Issue Closed 泝曾n**Repository:** [\(.repo.name)](https://github.com/\(.repo.name))  \n**Issue:** [View Issue](https://github.com/\(.repo.name)/issues/\(.payload.issue.number))  \n**Title:** \"\(.payload.issue.title)\"  \n**Date:** \(.created_at | fromdate | strftime("%d/%m/%Y %I:%M %p"))  \n**Author:** [\(.actor.display_login)](https://github.com/\(.actor.login)) 笨搾ｸ十n"
                  elif .payload.action == "reopened" then
                    "#### Issue Reopened 沐Ыn**Repository:** [\(.repo.name)](https://github.com/\(.repo.name))  \n**Issue:** [View Issue](https://github.com/\(.repo.name)/issues/\(.payload.issue.number))  \n**Title:** \"\(.payload.issue.title)\"  \n**Date:** \(.created_at | fromdate | strftime("%d/%m/%Y %I:%M %p"))  \n**Author:** [\(.actor.display_login)](https://github.com/\(.actor.login)) 笨搾ｸ十n"
                  else
                    empty
                  end
                else
                  "#### \(.type) on [\(.repo.name)](https://github.com/\(.repo.name))  \n**Date:** \(.created_at | fromdate | strftime("%d/%m/%Y %I:%M %p"))  \n**Author:** [\(.actor.display_login)](https://github.com/\(.actor.login)) 笨搾ｸ十n"
                end
              else
                empty
              end
            ) |
            .[]
          ' >> recent-activity.md
          cat recent-activity.md

      - name: Combine with Previous Activity
        run: |
          awk '/<!--START_SECTION:activity-->/, /<!--END_SECTION:activity-->/ {if (!/<!--(START|END)_SECTION:activity-->/) next} {print}' README.md > temp.md
          mv temp.md README.md
          awk '/<!--START_SECTION:activity-->/{print;system("cat recent-activity.md");next}1' README.md > temp.md
          mv temp.md README.md

      - name: Commit and Push if Changed
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add README.md
          git diff --cached --exit-code || git commit -m "Update recent activity"
          git push
