name: Update README

on:
  schedule:
    # Runs at 12am UTC every day
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Fetch GitHub Events
        run: |
          curl -H "Authorization: token ${{ secrets.GH_TOKEN }}" https://api.github.com/users/thegr8dev/events > events.json
          echo "### Recent GitHub Activity 沁" > recent-activity.md
          cat events.json | jq -r '
            .[0:5] |
            map(
              select(.repo.name != "thegr8dev/thegr8dev") |
              if .type == "PushEvent" then
                "#### PushEvent 沒､\n**Repository:** [\(.repo.name)](https://github.com/\(.repo.name))  \n**Commit:** [View Commit](https://github.com/\(.repo.name)/commit/\(.payload.commits[-1].sha))  \n**Message:** \"\(.payload.commits[-1].message)\"  \n**Date:** \(.created_at)  \n**Author:** Ankit Kabra 笨搾ｸ十n"
              elif .type == "PullRequestEvent" then
                "#### PullRequestEvent 沐Ыn**Repository:** [\(.repo.name)](https://github.com/\(.repo.name))  \n**Pull Request:** [View Pull Request](https://github.com/\(.repo.name)/pull/\(.payload.pull_request.number))  \n**Message:** \"\(.payload.pull_request.title)\"  \n**Date:** \(.created_at)  \n**Author:** Ankit Kabra 笨搾ｸ十n"
              elif .type == "IssueCommentEvent" then
                "#### IssueCommentEvent 汳ｬ\n**Repository:** [\(.repo.name)](https://github.com/\(.repo.name))  \n**Issue:** [View Issue](https://github.com/\(.repo.name)/issues/\(.payload.issue.number))  \n**Message:** \"\(.payload.comment.body)\"  \n**Date:** \(.created_at)  \n**Author:** Ankit Kabra 笨搾ｸ十n"
              elif .type == "ForkEvent" then
                "#### ForkEvent 沚ｴ\n**Repository:** [\(.repo.name)](https://github.com/\(.repo.name))  \n**Message:** \"Forked repository\"  \n**Date:** \(.created_at)  \n**Author:** Ankit Kabra 笨搾ｸ十n"
              elif .type == "CreateEvent" then
                "#### CreateEvent 笨ｨ\n**Repository:** [\(.repo.name)](https://github.com/\(.repo.name))  \n**Message:** \"Created repository\"  \n**Date:** \(.created_at)  \n**Author:** Ankit Kabra 笨搾ｸ十n"
              else
                "#### \(.type) on [\(.repo.name)](https://github.com/\(.repo.name))  \n**Date:** \(.created_at)  \n**Author:** Ankit Kabra 笨搾ｸ十n"
              end
            ) |
            .[]
          ' >> recent-activity.md
          cat recent-activity.md

      - name: Update README
        run: |
          awk '/<!--START_SECTION:activity-->/{print;f=1;next} /<!--END_SECTION:activity-->/{f=0} !f{print}' README.md > temp.md
          mv temp.md README.md
          sed -i '/<!--START_SECTION:activity-->/r recent-activity.md' README.md

      - name: Commit and Push if Changed
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add README.md
          git diff --cached --exit-code || git commit -m "Update recent activity"
          git push
